//colors

$main-site-color: #ff4848;
$background-color-nav: #2c3e50;
$background-color-footer: #17212a;
$main-font-color: #FFF;
$second-site-color: #004966;
$background-color-icon: #000;
$article-info-color: #6d6464; 
$post-title-color: #d35400;




$background-color-aside: #424147;
$additional-color: #ffea00;
$main-color: #FFF;
$background-color-footer: #414146;

$facebook-color: #3b5998;
$google-color: #dc4e41;
$twitter-color: #4099ff;
$linkedin-color: #007bb6;
$youtube-color: #cd201f;
$behance-color: #4099ff;
$rss-color: #F2720C;
$dribbble-color: #CB483E;
$border-color-blocks-after-articles: #cacaca;
$background-link-on-img: #424146;